/mendeley_dataset/dataset
/DS_Store
/README.md
/mendeley_dataset/seed_data
/mendeley_dataset/seed_data_coarse
/mendeley_dataset/yolo26n.pt
/mendeley_dataset/yolov8n-seg.pt
/mendeley_dataset/yolov8s-seg.pt
/mendeley_dataset/yolov8m-seg.pt
/dataset
/datasets
yolo11n.pt
yolo11s.pt
yolo11m.pt
yolo11l.pt
yolo26n.pt
rtdetr-l.pt
rtdetr-x.pt